body{
  background: url('/Users/yazeed/Documents/Programming/Atom/fdt/App10/templates/fdtbg.png');
}

h3{
    font-family: 'Muli', sans-serif;
    color: black;
    text-align: left;

}
  #table, #graphs{
    align: center;
    width: 100%;
    display: inline-block;
    resize: both;
    overflow: auto;
}
