{% extends "cb_freq.html" %}
{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{url_for('static', filename='control.js')}}"></script>
</script>
<style>

td {
  margin: 50px 25px 10px 25px;
  padding-bottom: 100px;
}
table{
  text-align: center;
  display:inline-block;
  resize: both;
  overflow:auto;
}
</style>

<body>
<div class="container" align="center">

<div class="container" algin="center">

<form action="{{url_for('construct_table')}}" method="post" enctype="multipart/form-data">

<table class="table table-striped table-dark" justify="center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lower Boundry</th>
      <th scope="col">Higher Boundry</th>
      <th scope="col">Frequency</th>
    </tr>
    </thead>
    <tbody>

{%for i in range(k)%}
<tr>
  <th scope="row">{{i+1}}</th>
      {{ htmls[i][0] }}
      {{ htmls[i][1] }}
      {{ htmls[i][2] }}
    </tr>
{%endfor%}
<br>

</tbody>
</table>
<hr class="my-4">

<button id="cb_freq_submit"type="submit" class="btn btn-primary btn-lg btn-block">Construct The Table</button>
</form>
</div>

</body>
{% endblock %}
