<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Frequency Distribution Table Maker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   </head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <style>

   .jumbotron {
     margin: 25px 0px 10px 0px;
     align: center;
     width: 100%;
   }

   #table {
     align: center;
     width: 100%;
     display: inline-block;
   }
   body{
     background-image: url('https://serving.photos.photobox.com/37044883d97e4eeeb22eda5a9eb9c7cea591381d6e2ecc9c2c3a65d7b31204dfb1425fa3.jpg');
     background-repeat: repeat-y;
   }
  th{
       width: 25%;
  }

   </style>

  <body>
    <div class="container" align="center">

    <div class="jumbotron">
      <h1 class="display-4">Frequency Distribution Table Maker</h1>
      <hr class="my-4">

      <p class="lead">Choose a way to upload your data.</p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary btn-lg" onclick="window.location.href='{{ url_for('raw_data')}}';">Raw Data</button>
        <button type="button" class="btn btn-outline-primary btn-lg" onclick="window.location.href='{{ url_for('cb_freq')}}';">Class Boundries & Frequency</button>
      </div>

          {% if condition %}
            <hr class="my-4">
              {{message}}
          {% endif %}


      {% block body %}


    {% endblock %}
    <hr class="my-4">

    <p>.يزيد الصليهم - إشراف/د.عبدالعزيز الباجوري©</p>
  </div>
  </body>
</html>
