{% extends "raw_data.html" %}
{% block body %}

<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
  h3{
    font-family: 'Muli', sans-serif;
    color: black;
    text-align: left;

}
  #table, #graphs{
    align: center;
    width: 100%;
    display: inline-block;
    resize: both;
    overflow: auto;
}
th {
  width: 25%;
}
</style>
<body>
  {{head}}

  <hr class="my-4">
<br>
<br>

<h3>Mean: = <b>{{mean}}</b></h3>

<h3>Median: = <b>{{median}}</b></h3>

<h3>Mode: = <b>{{mode}}</b></h3>

<h3>Variance: = <b>{{variance}}</b></h3>

<h3>Standerd Deveitation: = <b>{{standerd_deviation}}</b></h3>

<h3>Range: = <b>{{Range}}</b></h3>

<h3>Coeffecient of Variation: = <b>{{cv}}%</b></h3>
<hr class="my-4">

<div class="container" id="graphs">
    <div class="row">

        <div class="col-xl-6 boxy col-md-12">{{histogram}}</div>
        <div class="col-xl-6 boxy col-md-12">{{polygon}}</div>
      </div>
      <hr class="my-4">

        <div class="row">

        <div class="col-xl-6 boxy col-md-12">{{acfp}}</div>
        <div class="col-xl-6 boxy col-md-12">{{dcfp}}</div>
</div>
</div>

<hr class="my-4">
{% for table in tables %}
          {{ table|safe }}
{% endfor %}

</body>

{% endblock %}
